.topblue {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #001A04;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 300;
}

.topblue p,span {
    color: white;
}

.topblue a {
  color: white;
  font-weight: 500;
  text-decoration: underline;
}

.topbluespan {
  font-weight: 400;
}

.navbardesktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.careerco {
  display: flex;
  flex-direction: row;
  gap: 12rem;
  align-items: center;
}

.search_logo {
   position: absolute;
   padding-left: 0.5rem;
   padding-top: 0.6rem;
   margin-left: 0.5rem;
}


.search_course{
   width: 15rem;
   padding: 0.6rem;
   padding-left: 2.5rem;
   border-radius: 1rem;
   border-width: 0.5px;
   color: #E4E4E4;
   font-size: medium;
}

.navigationdesktop {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

ul {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  gap: 2rem;
}

li {
  font-weight: 400;
  font-size: medium;
}

li a {
  text-decoration: none;
  color: #001A04;
}

.join {
  border-radius: 20px;
  border: none;
  background-color: #39B54A;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.join a {
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: medium;
  font-weight: 300;
}

.navbarpostajob {
  border: none;
  border-radius: 8.876px;
  background: #0374e4;
  padding: 6px;
}

.navbarpostajob a {
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  font-weight: 600;
  font-size: medium;
}

.navbarmobile {
  display: none;
}

@media screen and (max-width: 768px) {
    .topblue {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        background-color: #001A04;
        color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-weight: 300;
        font-size: medium;
      }

      .circle{
        width: 10%;
        
      }

  .navbardesktop {
    display: none;
  }

  .mobile_logo {
    width: 4rem;
  }

  .navbarmobile {
    display: block;
    display: flex;
    flex-direction: column;
  }

  .mobiletop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16rem;
    margin-top: 0.5rem;
  }

  .mobilebottom {
    display: none;
  }

  .navmenu {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }

  .mobile-btn-cnt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
  }

  .NavBar-SignInbtn {
    border-radius: 9px;
    border: 1px solid #0374e4;
    background-color: #fff;
    padding: 6px;
    height: 2rem;
    width: 8rem;
  }

  .NavBar-SignInbtn a {
    color: #000;
    text-align: center;
    font-weight: 600;
    font-size: medium;
  }

  .NavBar-SignUpbtn {
    background-color: #0374e4;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
    height: 2rem;
    width: 8rem;
    text-align: center;
  }

  .NavBar-SignUpbtn a {
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-weight: 600;
    font-size: medium;
  }

  .mobnavigations {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;
    margin-left: 1.1rem;
  }
}
