.carousel-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.mobcarousel-container {
  display: none;
}

.carousel {
  display: flex;
  overflow: hidden;
  z-index: -1;
  /* Adjust the width based on your needs */
}

.card {
  margin: 0 15px;
  text-align: left;
  background-color: #f9fafb;
  padding: 1rem;
  padding-bottom: 2rem;
  border-radius: 20px;
  border: 1px solid #ced1d5;
}

.carousel_title_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.carousel_title_div h3 {
  font-size: small;
  font-weight: 600;
}

.carousel_title_div p {
  font-size: small;
  font-weight: 600;
}

.back_btn {
  margin-right: -1.5rem;
}

.forward_btn {
  margin-left: -1.5rem;
}

.card_row {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  gap: 1rem;
  margin-top: 1rem;
}

.card_row p {
  font-size: small;
}

.card_row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}

@media screen and (max-width: 768px) {
  .carousel-container {
    display: none;
  }

  .mobcarousel-container {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
  }
}
