.footer_top {
  background-color: #001A04;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
}
.top1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.top1 h4 {
  font-weight: 600;
  font-size: small;
  margin-bottom: 0.5rem;
  color: white;
}

.top1 p {
  font-size: small;
  color: white;
}

.enter_email {
  width: 12rem;
  padding: 0.4rem;
  padding-left: 0.5rem;
  border-radius: 5px;
  border-width: 0.5px;
  color: #e4e4e4;
}

.top2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 17.5%;
  margin-top: 1rem;
}

.top2_li{
color: white;
font-size: small;

}

.top2 p {
  font-size: small;
  font-weight: 500;
  color: white;
  margin-bottom: 0.5rem;
}

.subscribe {
  border-radius: 5px;
  border: none;
  background-color: #39B54A;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
}

.subscribe a {
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: small;
  font-weight: 300;
}
.line {
  border-top: 0.5px solid white; /* 1px solid black line */
  margin-left: 6%;
  margin-right: 6%;
}

.top3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2rem;
}

.top3 p {
  color: white;
  font-size: small;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: white;
}

.new_btn{
  border-radius: 1rem;
  border: none;
  background-color: white;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  color: #39B54A;
  margin-left: -1.5rem;
}

@media screen and (max-width: 768px) {
  .footer_top {
    flex-direction: column;
  }
  .top1 {
   
    flex-direction: column;
   
  }

  .top3 {
    flex-direction: column;
  }

  .top2 ul {
    display: flex;
    flex-direction: column;
   
  }
  
}
